.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+span {
    position: relative;
    cursor: pointer;
    padding: 0;    
    font-size: 16px;
    line-height: 30px;
}

.styled-checkbox+span:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid lightgray;
}

.styled-checkbox:hover+span:before {
    background: #2e62a4;
}

.styled-checkbox:focus+span:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+span:before {
    background: #2e62a4;
}

.styled-checkbox:disabled+span {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+span:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+span:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.ng2-menu-item {    
    padding: 0.2em 1rem !important;
}